.card{
    width: 600px;
    background-color: rgb(236, 236, 245);
    height: 400px; 
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;

}
.container{
    text-align: center;
    margin-top: 100px;
    align-items: center;
    box-shadow: 15px black;
    
    
}